<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var selectElements = document.querySelectorAll("select");
				M.FormSelect.init(selectElements);
			});
		</script>

		<style>
			.mt-2 {
				margin-top: 2rem;
			}

			.p-2 {
				padding: 2rem !important;
			}
		</style>

		<title>Survey Form</title>
	</head>
	<body>
		<nav class="light-blue darken-4">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">Survey Form</a>
				</div>
			</div>
		</nav>

		<div class="container mt-2">
			<div class="row">
				<form class="col s12 card p-2" action="/process_form" method="POST">
					<div class="row">
						<div class="input-field col s12">
							<input placeholder="Name" id="name" type="text" class="validate" name="name" />
							<label for="name">Your Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select id="dojo_location" name="dojo_location">
								<option value="Mountain View">Mountain View</option>
								<option value="West View">West View</option>
								<option value="East View">Ewast View</option>
								<option value="North View">North View</option>
								<option value="South View">South View</option>
								<option value="Fair View">Fair View</option>
							</select>
							<label for="dojo_location">Dojo Location</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select id="dojo_location" name="programming_language">
								<option value="Python">Python</option>
								<option value="Javascript">Javascript</option>
								<option value="Java">Java</option>
								<option value="Ruby">Ruby</option>
							</select>
							<label for="programming_language">Favorite Language</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<textarea id="comment" name="comment" class="materialize-textarea"></textarea>
							<label for="comment">Comment(optional):</label>
						</div>
					</div>

					<div class="row">
						<div class="col s12">
							<button class="btn waves-effect waves-light light-blue darken-4" type="submit">
								Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    --></body>
</html>
